.landing-page_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .landing-page_grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 0.2rem;
  }
}
