.landing-page_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}

@media (orientation: portrait) {
  .landing-page_grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
  }
}
